#login-header{
  color: #282a35; 
  font-size: 29px; 
  font-weight: 700; 
  padding-left: 4%;
  text-decoration: none; 
}

#Request_button {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 12px;
  font-family: Source Sans Pro,sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: black;
  padding: 10px 20px;
  background-color: #e3e5e9;
}

#login-box{
  width: 700px; 
  border: 2px solid #e4e4e4; 
  border-radius: 20px; 
  margin: auto;
}

#login-text{
  font-weight: bold; 
  padding-top: 3%; color: #3477e2; 
  font-family: Source Sans Pro; 
  font-size: 22px;
}

.login-input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    width: 500px;
    text-align: center;
  }

.drop-down {
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 10px;
  font-size: 15px;
  font-family: Verdana, sans-serif;
}

#other{
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

.Login-button {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 48px;
  font-family: Source Sans Pro,sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #4285F4;
  padding: 12px 20px;
  width: 75%;
}

.divider{
  border-top: 1px solid #d1cfcf;
  width: 700px;
  text-align: center;
}

.footer {
  font-size: 15px; 
  text-align: center;
  font-family: Verdana, sans-serif;
}